{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "rules": {
    "no-use-before-define": [
      "error",
      {
        "functions": true,
        "classes": true
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "no-console": 0
  }
}
